<%- include('./partials/header.ejs') %>

<div class="container mt-5">
    <h3 class="text-center mb-4" style="font-size: 2rem;">Auricular Desktop</h3>
    <div class="card border-0">
        <img src="https://i.imgur.com/6d9XFt5.png" class="card-img-top mx-auto" alt="Auriculares BT500" style="width: 60%;">
        <div class="card-body text-center">
            <h4 class="card-title" style="font-size: 2rem;">Auriculares BT500</h4>
            <p class="card-text" style="font-size: 2rem;">
                <strong>$20.50</strong>
            </p>
            <p class="card-text" style="font-size: 1.2rem;">
                Disfruta de una experiencia de sonido excepcional con los Auriculares Logitech H390 en color negro.
                Estos auriculares on-ear cuentan con un micrófono incorporado, lo que te permite comunicarte con
                claridad durante tus llamadas o sesiones de chat. Aunque no son inalámbricos, su conexión USB-A garantiza
                una transmisión de audio de alta calidad y sin interrupciones.
                <br><br>
                Con una impedancia de 32 Ω y una respuesta en frecuencia de 20 Hz a 20 kHz, los Logitech H390 ofrecen un
                sonido nítido y equilibrado en todo el espectro de frecuencias. Además, su sensibilidad de 94 dB asegura
                un volumen adecuado para escuchar tu música, podcasts o videos favoritos.
                <br><br>
                Los auriculares Logitech H390 no solo ofrecen un gran rendimiento de audio, sino que también son cómodos
                de usar. Su diseño on-ear se ajusta perfectamente a tus oídos, permitiéndote disfrutar de largas sesiones
                de uso sin molestias.
                <br><br>
                Aunque estos auriculares no cuentan con cancelación de ruido, tecnología TWS o asistentes de voz integrados,
                su control de volumen y función Play te permiten manejar tu música y llamadas con facilidad. No esperes más y
                adquiere los Auriculares Logitech H390 para disfrutar de un sonido de calidad en tus actividades diarias.
            </p>
            <p class="card-text" style="font-size: 1.8rem;">
                <strong>Compañía:</strong> Noga
            </p>
            <button type="button" class="btn mr-2 mr-md-2 mb-md-0 btn-primary btn-round btn-lg">
                <a href="/formulario" class="text-white">Comprar Ahora</a>
            </button>
            
        </div>
    </div>

    
</div>



<%- include('./partials/footer.ejs') %>
</body>
</html>
