<%- include('./partials/header.ejs') %> 
    

    <div class="d-flex flex-wrap justify-content-center">
        <div>
            <!-- Card uno -->
            <div class="card mb-3 m-4 rounded-4 p-3" style="max-width:600px; ">
                <h2>Revisar artículo y envío</h2>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://i.imgur.com/6d9XFt5.png" class="img-fluid rounded-start w-100 " alt="auriculares">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex ">
                            <div class="card-body d-flex-column">
                                <h5 class="card-title">Airpods-Max</h5>
    
                                <p class="card-text"><small class="text-body-secondary">Color: Pink</small></p>
                            </div>
                            <div class="card-body d-flex-column">
                                <h5 class="card-title">$549.00</h5>
    
                                <p class="card-text"><small class="text-body-secondary">Quantity:1</small></p>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Formulario -->
            <form id="formulario" class=" needs-validation m-4 mr-0 border p-3 rounded-4" style="max-width:600px">
                <h2>Informacion de envio</h2>
                <div class="col-md-10 position-relative">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre *">
                    <div id="errorName" class="errormsg"></div>
    
                </div>
                <div class="col-md-10 position-relative">
                    <label for="address" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Ingrese su direcion *">
                    <div id="errorAd" class="errormsg"></div>
    
                </div>
                <div class="col-md-10 position-relative">
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Ingrese su ciudad *">
                    <div id="errorcity" class="errormsg"></div>
    
                </div>
                <div class="col-md-10 position-relative">
                    <label for="zip" class="form-label">Codigo Postal</label>
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="Ingrese su codigo postal *">
                    <div id="errorzip" class="errormsg"></div>
                </div>
    
                <div>
                    <div class="col-md-10 position-relative">
                        <label for="mobile" class="form-label">Celular</label>
                        <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Ingrese su numero de telefono">
    
                    </div>
                    <div class="col-md-10 position-relative">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su email *">
                        <div id="errormail" class="errormsg"></div>
    
                    </div>
    
                    <button class="btn btn-secondary mt-4" type="submit">Enviar Informacion</button>
    
    
                </div>
            </form>
        </div>
    
        <div class="needs-validation m-4 mr-0 border p-3 rounded-4" novalidate style="max-width:600px">
            <!-- Aside -->
    
    
            <!-- input con boton -->
            <h3 class="m-4 mt-1">Resumen del Pedido</h3>
            <div class="input-group mb-1 m-4" style="width: 300px;" id="codigo">
                <input type="text"  class="form-control" placeholder="Ingresar Cupon" id="code" name="code">
                <button class="btn btn-secondary" style="border-bottom-left-radius: 5px; border-top-left-radius: 5px;" type="submit" id="button-addon2">Ingresar</button>
            </div>
            <h4 class="m-4 mt-5">Método de Pago</h4>
            
            <!-- Radios -->
            <div class="form-check m-4">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Contra Rembolso
                </label>
            </div>
            <div class="form-check m-4">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Paypal
                </label>
            </div>
            <div class="form-check m-4">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Tarjeta de Credito o debito
                </label>
            </div>
            <!-- imagenes -->
            <div class="d-flex justify-content-evenly">
                <img src="./img/Amazon_icon.svg.png" height="25vh" alt="Amazon" style="cursor: pointer;">
                <img src="./img/mstr.png" height="25vh" alt="Master" style="cursor: pointer;">
                <img src="./img/visa.png" height="15vh" alt="visa" style="cursor: pointer;">
            </div>
    
            <!-- formulario -->
            <form>
                <div class="mb-3 m-4">
                    <label for="exampleInputEmail1" class="form-label">Email </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email Aqui" style="width: 300px;">
                </div>
                <div class="mb-3 m-4">
                    <label for="exampleInputPassword1" class="form-label">Número de Tarjeta</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Numero de Tarjeta Aqui" style="width: 300px;">
                </div>
                <button class="btn btn-secondary mt-4 w-50" style="margin-left: 50px;"><a href="/estaticas/gracias">Comprar</a></button>
    
            </form>
           
    
    
        </div>
    
    </div>


    <%- include('./partials/footer.ejs') %> 
</body>
</html>