<%- include('./partials/header.ejs') %>

<div class="container mt-5">
    <h3 class="text-center mb-4" style="font-size: 2rem;">Auricular Gamer</h3>
    <div class="card border-0">
        <img src="https://imgur.com/xz94qrh.png" class="card-img-top mx-auto" alt="Auriculares BT500" style="width: 60%;">
        <div class="card-body text-center">
            <h4 class="card-title" style="font-size: 2rem;">Auriculares Sony RTX4</h4>
            <p class="card-text" style="font-size: 2rem;">
                <strong>$59.99</strong>
            </p>
            <p class="card-text" style="font-size: 1.2rem;">
                Compatible con múltiples plataformas: los auriculares para juegos son compatibles con múltiples plataformas, incluidas PlayStation 4, la nueva Xbox One, PC, Nintendo 3DS, portátil, PSP, ordenador y teléfono móvil. Para la conexión Xbox y móvil, usa un adaptador (no incluido). Sonido estéreo envolvente: los auriculares para juegos de 5 núcleos cuentan con un subwoofer estéreo envolvente con graves potentes, un excelente aislamiento del ruido m y un controlador de alta precisión para una experiencia de sonido mejorada. Proporciona un campo de sonido vívido, claridad y un sonido impactante, lo que lo hace perfecto para varios juegos como Halo 5 Guardians, Call of Duty, Star Wars Battlefront y más. Micrófono con aislamiento de ruido: nuestros auriculares para juegos cuentan con un micrófono omnidireccional con tecnología de cancelación de ruido para una comunicación clara. El diseño flexible del micrófono permite un ajuste sencillo, para que puedas enviar o recibir un mensaje con claridad mientras juegas.
            </p>
            <p class="card-text" style="font-size: 1.8rem;">
                <strong>Compañía:</strong> Sony
            </p>
            <button type="button" class="btn mr-2 mr-md-2 mb-md-0 btn-primary btn-round btn-lg">
                <a href="/formulario" class="text-white">Comprar Ahora</a>
            </button>
            
        </div>
    </div>

    
</div>



<%- include('./partials/footer.ejs') %>
</body>
</html>
