<%- include('./partials/header.ejs') %> 

    <header class=" py-2">


        <div id="carouselExampleAutoplaying" style="z-index: -2;" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-evenly" style="background-color: #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                    <div >
                        <h2 class="mt-5">Aprovecha las ofertas</h2>
                        <h2 class="mt-4">Hasta un 50% de decuento</h2>
                        <button class="btn btn-secondary mt-4 mb-4">Compre ahora</button>
                    </div>
                    <div >
                        <img src="../img/chica.png" class="img-fluid" alt="chica">
                    </div>
                    
                  </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                    <div >
                        <h2 class="mt-5">Aprovecha las ofertas</h2>
                        <h2 class="mt-4">Hasta un 50% de decuento</h2>
                        <button class="btn btn-secondary mt-4">Compre ahora</button>
                    </div>
                    <div >
                        <img src="../img/chica2.png" class="img-fluid" alt="chica">
                    </div>
                    
                  </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-evenly" style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                    <div >
                        <h2 class="mt-5">Aprovecha las ofertas</h2>
                        <h2 class="mt-4">Hasta un 50% de decuento</h2>
                        <button class="btn btn-secondary mt-4 mb-4">Compre ahora</button>
                    </div>
                    <div >
                        <img src="../img/chica3.png" class="img-fluid" alt="chica">
                    </div>
                    
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
    </header>

    <nav class="navbar navbar-expand-lg mt-4 navDesp" style="width: 90%; margin: auto;">
        <div class="container-fluid px-4 px-lg-5">
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5 ">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle m-1 " style="background-color: #ecf0f4; border-radius: 35px;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Marca
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Noga</a></li>
                            <li><a class="dropdown-item" href="#">Sony</a></li>
                            <li><a class="dropdown-item" href="#">Bose</a></li>
                            <li><a class="dropdown-item" href="#">Phillips</a></li>
                            <li><a class="dropdown-item" href="#">Sennheiser</a></li>
    
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Precio
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Descripcion
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Color
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle m-1" style="background-color: #ecf0f4; border-radius: 35px;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Material
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    
                    <div class="buscar ms-5">
                        <div class="input-group position-relative">
                            <input type="text" id="formulario" class="form-control" placeholder="Buscar" aria-label="Buscar"
                                aria-describedby="basic-addon2">
    
                           
                            <button class="input-group-text" id="basic-addon2"
                                style="background-color: white; cursor: pointer; border: none; position: absolute; right: 1px; top: 5px;">
                                <i class="fas fa-search "></i>
                            </button>
                        </div>
                    </div>
    
                    <!--  -->
    
    
                </ul>
    
            </div>
        </div>
    
        <div style="margin-right: 9.688rem;">
           
        </div>
    </nav>
    
    <style>
        @media (max-width: 794px) and (min-width: 390px) {
            a.nav-link {
                background-color: transparent !important;
                
            }
        }
    </style>
    






    <%- include('./partials/footer.ejs') %> 
</body>


</html>