<%- include('./partials/header.ejs') %>

<div class="container mt-5">
    <h3 class="text-center mb-4" style="font-size: 2rem;">Ultima Tendencia</h3>
    <div class="card border-0">
        <img src="https://imgur.com/XUGGbrK.png" class="card-img-top mx-auto" alt="Auriculares BT500" style="width: 60%;">
        <div class="card-body text-center">
            <h4 class="card-title" style="font-size: 2rem;">Auriculares Bose Pro LuminaX</h4>
            <p class="card-text" style="font-size: 2rem;">
                <strong>$19.99</strong>
            </p>
            <p class="card-text" style="font-size: 1.2rem;">
                "Sumérgete en una experiencia auditiva revolucionaria con nuestros Auriculares LuminaX. Diseñados para los verdaderos amantes del sonido, estos auriculares inalámbricos te transportarán a un mundo de claridad acústica y comodidad sin igual.

Con tecnología de vanguardia, los Auriculares LuminaX ofrecen una calidad de audio excepcional, envolviendo tus sentidos en un sonido cristalino y graves profundos que te sumergen en cada nota. Equipados con la última innovación en cancelación activa de ruido, te sumergirán en tu música, bloqueando el mundo exterior y ofreciendo una experiencia inmersiva inigualable.

Estos auriculares están diseñados ergonómicamente para un ajuste perfecto, ofreciendo horas de uso sin fatiga. Su conectividad Bluetooth 5.2 garantiza una conexión estable y sin interrupciones, mientras que su estuche de carga de diseño elegante y ultrafino te brinda la libertad de llevar tu música a donde vayas.

Además, los Auriculares LuminaX no solo ofrecen un rendimiento excepcional, sino que también integran asistentes de voz de última generación, permitiéndote controlar tu música, recibir notificaciones y acceder a información con solo tu voz.

Prepárate para elevar tu experiencia sonora a un nivel completamente nuevo con los Auriculares LuminaX, donde la innovación y el diseño se unen para ofrecerte el pináculo del audio inalámbrico."
            </p>
            <p class="card-text" style="font-size: 1.8rem;">
                <strong>Compañía:</strong> Bose
            </p>
            <button type="button" class="btn mr-2 mr-md-2 mb-md-0 btn-primary btn-round btn-lg">
                <a href="/formulario" class="text-white">Comprar Ahora</a>
            </button>
            
        </div>
    </div>

    
</div>



<%- include('./partials/footer.ejs') %>
</body>
</html>
