<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main style="text-align: center;">
       <h1>Bienvenido, tu perfil es ,<%=user.username %></h1>
       <img class="image" src=<%= user.thumbnail%> alt="">
    </main>
</body>
</html>