<%- include('./partials/header.ejs') %>

<div class="container mt-5">
    <h3 class="text-center mb-4" style="font-size: 2rem;">Auricular Para Correr</h3>
    <div class="card border-0">
        <img src="https://imgur.com/2FZzfSW.png" class="card-img-top mx-auto" alt="Auriculares BT500" style="width: 60%;">
        <div class="card-body text-center">
            <h4 class="card-title" style="font-size: 2rem;">Auriculares Bose U5</h4>
            <p class="card-text" style="font-size: 2rem;">
                <strong>$39.99</strong>
            </p>
            <p class="card-text" style="font-size: 1.2rem;">
                Los audífonos Bose Sport Earbuds están diseñados con el objetivo de estimular el ejercicio con un sonido aclamado y realista, y un ajuste seguro y cómodo. Las tecnologías patentadas hacen que tu música suene nítida y equilibrada, sin importar lo fuerte que la coloques, mientras que el elegante diseño de los audífonos les permite colocarse cerca de tus orejas. Y las puntas, sin importar cuánto tiempo hagas ejercicio, no dañarán tus oídos; además, no se caerán, independientemente de tus movimientos. Prepárate para romper tu récord personal una y otra vez.
            </p>
            <p class="card-text" style="font-size: 1.8rem;">
                <strong>Compañía:</strong> Bose
            </p>
            <button type="button" class="btn mr-2 mr-md-2 mb-md-0 btn-primary btn-round btn-lg">
                <a href="/formulario" class="text-white">Comprar Ahora</a>
            </button>
            
        </div>
    </div>

    
</div>



<%- include('./partials/footer.ejs') %>
</body>
</html>
